.square {
    width: 20px; /* Adjust the width to your desired size */
    height: 20px; /* Equal height to create a square */  
    float: left
  }

  .custom-margin{
    margin-top:5px;
     margin-left: 5px;
  }